.wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0;
    background-color: var(--color-blur);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    opacity: 0;
    transition: all 250ms ease;
    pointer-events: none;
}

.navOpen {
    opacity: 1;
    pointer-events: auto;

}

.container {
    padding: 0px 30px 30px;
    width: 100%;
    margin-top: var(--navbar-height);
    max-height: calc(100vh - var(--navbar-height));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: height 0.2s ease;
}

.list {
    row-gap: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    font-size: var(--font-size-h2);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 6px;
}

@media (max-height: 600px) {
    .container {
        max-height: none;
        margin: 0;
        padding: 0;
    }

    .list {
        row-gap: 40px;
    }

}


@media (max-height: 450px) {
    .list {
        row-gap: 20px;
    }

}