.overlay {
    position: fixed;
    color: var(--color-black);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.5, 0, 0.5, 1);
    height: 100vh;
    pointer-events: none;
    background-color: rgba(158, 153, 153, 0.174);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.navOpen {
    opacity: 1;
    pointer-events: auto;
}

.wrapper {
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    opacity: 1;
}

.container {
    padding: 0px 30px 30px;
    width: 100%;
    margin-top: var(--navbar-height);
    max-height: calc(100vh - var(--navbar-height));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: height 0.2s ease;
}

.list {
    row-gap: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    font-size: var(--font-size-h3);
    font-weight: 500;
}

@media (max-height: 600px) {
    .container {
        max-height: none;
        margin: 0;
        padding: 0;
    }

    .list {
        row-gap: 40px;
    }

}


@media (max-height: 450px) {
    .list {
        row-gap: 20px;
    }

}