.wrapper {
    width: 100%;
    min-height: 300px;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.475) 0%, rgba(255, 255, 255, 0.744) 30%,
            rgb(255, 255, 255) 95%), url(./images/footerKitchen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    min-height: 300px;
    display: grid;
    row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
        "logo"
        "menu"
        "projects"
        "contact"
        "copyright";
    padding: 100px 50px 20px;
}

.logoContainer {
    grid-area: logo;
    max-width: 236px;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo>svg {
    margin-right: 5px;
}

.quickContact {
    display: flex;
    flex-direction: column;
    align-items: start;
    grid-area: contact;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: start;
    grid-area: projects;
}

.company {
    display: flex;
    flex-direction: column;
    align-items: start;
    grid-area: company;
}

.menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.title {
    text-transform: capitalize;
    margin-bottom: 5px;
}

.links {
    width: fit-content;
    margin-bottom: 3px;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--color-dark-gray);
    grid-area: copyright;
    padding-top: 20px;
}

.socialIcons {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    font-size: 20px;
    margin-top: 20px;
}

.socialIcons>a {
    transition: transform 0.3s ease;
}

.socialIcons>a:hover {
    transform: scale(1.3);
    cursor: pointer;
}

@media (min-width: 368px) {
    .container {
        row-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "logo logo"
            "menu projects"
            "contact contact"
            "copyright copyright";
    }

    .projects {
        justify-self: center;
    }
}

@media (min-width: 500px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "logo logo logo"
            "menu projects contact"
            "copyright copyright copyright";
        justify-content: space-between;
    }

    .quickContact {
        justify-self: end;
        align-items: center;
    }
}

@media (min-width: 650px) {
    .container {
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "logo menu projects contact"
            "copyright copyright copyright copyright";
    }

    .copyright {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        justify-self: stretch;
        padding: 20px 50px 0;
    }

    .links {
        margin-bottom: 5px;
    }

    .quickContact {
        align-items: flex-start;
        justify-self: center;
    }

    .socialIcons {
        margin: 0;
    }
}