.wrapper {
    width: 100%;
    min-height: 300px;
    background-image: url(./images/footerKitchen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.475) 0%, rgba(255, 255, 255, 0.744) 30%, rgb(255, 255, 255) 95%);
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
        "logo menu ."
        ". contact ."
        ". company ."
        ". links ."
        "copyright copyright copyright";
    padding: 100px 20px 20px;
}

.logo {
    grid-area: logo;
}

.quickContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: contact;
    margin: 20px 0;
}

.usefullLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: links;
    margin: 20px 0;
}

.company {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: company;
}

.menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {
    width: fit-content;
    margin: 5px 0;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--color-black);
    grid-area: copyright;
    padding-top: 20px;
}

.socialIcons {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    font-size: 20px;
    margin-top: 20px;
}

.socialIcons>a {
    transition: transform 0.3s ease;
}

.socialIcons>a:hover {
    transform: scale(1.3);
    cursor: pointer;
}



@media (min-width: 480px) {
    .container {
        row-gap: 20px;
        grid-template-columns: 40px 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "logo menu contact"
            ". company links"
            "copyright copyright copyright";
    }

    .usefullLinks,
    .quickContact {
        margin: 0;
    }

    .menu,
    .company {
        margin-top: 0;
    }
}

@media (min-width: 650px) {
    .container {
        grid-template-columns: 50px 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "logo menu contact company"
            ". links links links"
            "copyright copyright copyright copyright";
    }

    .copyright {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .socialIcons {
        margin: 0;
    }
}

@media (min-width: 960px) {
    .container {
        grid-template-columns: 50px 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "logo menu contact company links"
            "copyright copyright copyright copyright copyright";
    }

    .usefullLinks,
    .company,
    .menu {
        margin: 0;
    }

    .copyright {
        padding: 20px 80px 0;
    }
}