.wrapper {
    padding: 30px 0;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-areas:
        ". title ."
        "projects projects projects"
        ". link .";
    row-gap: 30px;
}

.title {
    grid-area: title;
}

.link {
    grid-area: link;
}

.projects {
    grid-area: projects;
}

@media(min-width: 740px) {
    .wrapper {
        grid-template-columns: 1fr 20px minmax(0, 580px) minmax(0, 580px) 20px 1fr;
        grid-template-areas:
            ". . title link . . "
            "projects projects projects projects projects projects";
    }

    .link {
        justify-self: end;
    }
}