.container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    text-decoration: none;
    position: relative;
    font-weight: 600;
    width: 100%;
    color: var(--color-base);
}

.link::after {
    background: none repeat scroll 0 0 transparent;
    bottom: -3px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--color-black);
    transition: width .2s ease 0s, left .2s ease 0s;
    width: 0;
}

.link:hover::after {
    width: 100%;
    left: 0;
}

.link:hover {
    opacity: 1;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.socialIcons {
    width: 100%;
    max-width: 200px;
    font-size: var(--font-size-h4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    transition: all 1s ease;
}

.socialIcons>a {
    margin: 0 10px;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
}

.socialIcons>a:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.phoneContainer {
    min-width: fit-content;
    font-size: var(--font-size-h5);
    font-weight: 400;
    margin-right: 10px;
    color: var(--color-base)
}

.phone {
    width: 100%;
    cursor: pointer;
    font-weight: 600;
    color: var(--color-base);
}

.phone:hover {
    color: var(--color-base);
}

.separator {
    display: none;
}

@media (min-width: 768px) {
    .separator {
        height: 40px;
        border: 1px solid var(--color-black);
    }
}