.container {
    /*  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 30px; */
    display: grid;
    justify-items: center;
    text-align: center;
    row-gap: 30px;
    grid-template-areas: "title" "breadcrumps";
}

.title {
    grid-area: title;
    max-width: 600px;
}

.breadcrumps {
    grid-area: breadcrumps;
    display: flex;
    column-gap: 5px;
}

.breadcrumps .text {
    text-transform: uppercase;
    cursor: pointer;
}

.breadcrumps .divider {
    cursor: default;
}

@media(min-width:900px) {
    .container {
        align-items: center;
        grid-template-columns: 1fr 4fr 300px 1fr;
        grid-template-areas: ". title breadcrumps .";
    }

    .breadcrumps {
        justify-self: end;
    }
}