.button {
    cursor: pointer;
    font-size: var(--font-size-base);
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid var(--color-accent);
    height: 40px;
    padding: 0 40px;
}

.filled {
    background: var(--color-accent);
    color: var(--color-white)
}

.filled:hover {
    background: var(--color-accent);
    filter: brightness(90%);
}

.outlined {
    color: var(--color-accent);
    background: transparent;
}

.outlined:hover {
    color: var(--color-white);
    background: var(--color-accent);
}

.clear {
    height: auto;
    padding: 0;
    border: 0;
    background: transparent;
    color: var(--color-base);
}

.clear:hover {
    color: var(--color-accent);
}