.container {
    z-index: 5;
    position: relative;
    display: grid;
    grid-template-rows: min-content min-content 20px auto;
    grid-template-columns: 70px 1fr;
    grid-template-areas: "avatar name" "avatar rating" ". ." "testimonial testimonial";
    padding-right: 10px;
    padding-left: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: fit-content;
}

.name {
    grid-area: name;
}

.avatar {
    grid-area: avatar;
    align-self: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.testimonial {
    grid-area: testimonial;
    font-style: italic;
}

.rating {
    grid-area: rating;
}