.container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: "pic1" "pic2" "pic3";
    row-gap: 40px;
    margin-bottom: 40px;
}

.gridItem {
    max-width: 250px;
}

.gridItem:nth-child(1) {
    grid-area: pic1;
}

.gridItem:nth-child(2) {
    grid-area: pic2;
}

.gridItem:nth-child(3) {
    grid-area: pic3;
}

@media (min-width: 480px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "pic1 pic2" "pic3 pic3";
    }
}

@media (min-width: 820px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "pic1 pic2 pic3";
        column-gap: 10px;
        width: 100%;
    }
}

.itemContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: var(--main-text-color);
}

.itemInfoContainer {
    margin-top: 10px;
}

.itemTitle {
    text-align: center;
    margin-bottom: 3px;
    font-weight: 500;
}

.itemDesc {
    text-align: center;
}