.container {
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    position: relative;
    width: fit-content;
}

.container::after {
    background: none repeat scroll 0 0 transparent;
    bottom: -2px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--color-dark-gray);
    transition: width .2s ease 0s, left .2s ease 0s;
    width: 0;
}

.container:hover::after {
    width: 100%;
    left: 0;
}

.container:hover {
    opacity: 1;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.text {
    text-transform: uppercase;
}

.arrowRight {
    padding-top: 1px;
    fill: var(--color-dark-gray);
}

/* .AppLink {
    color: black;
    text-decoration: none;
    position: relative;
}
 */