.container {
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    position: relative;
    width: fit-content;
    transition: all .2s ease;
}

.container.animated {
    animation: arrow-pulse 1.8s;
}

.text {
    text-transform: uppercase;
}

.arrowRight {
    padding-top: 1px;
    fill: var(--color-dark-gray);
}

.container:hover {
    transform: translateX(20px);
}

.container:hover .arrowRight {
    fill: var(--color-base);
}

.container:hover .text {
    color: var(--color-base);
}

.inverted .text {
    color: var(--color-middle-gray);
}

.inverted .arrowRight {
    fill: var(--color-middle-gray);
}

.inverted:hover .arrowRight {
    fill: var(--color-white);
}

.inverted:hover .text {
    color: var(--color-white);
}