.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    grid-template-areas: "titleContact" "contact" "titleForm" "form";
}

.titleContact {
    grid-area: titleContact;
    margin-bottom: 30px;
}

.contact {
    grid-area: contact;
    margin-bottom: 20px;
}

.titleForm {
    grid-area: titleForm;
}

.form {
    grid-area: form;
}