.epigraph {
    text-transform: uppercase;
    font-size: var(--font-size-small);
    color: var(--color-dark-gray);
    font-weight: 700;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

.line {
    margin-left: 15px;
    width: 60px;
    height: 2px;
    background: var(--color-dark-gray);
}