.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 0 20px;
    user-select: none;
}

.slide {
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;
}

.img {
    height: 100%;
    min-height: 300px;
    max-height: 350px;
    object-fit: cover;
    margin-bottom: -4px;
}

.imgBlurred {
    filter: blur(2px);
}

.infoOverlay {
    background-color: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .3s ease;
}

.slideInfo {
    position: absolute;
    bottom: calc(20% + 30px);
    transform: translateY(50%);
    left: 20px;
    z-index: 5;
}

.slideText {
    font-weight: 600;
    max-width: 150px;
    margin-bottom: 10px;
}