.form {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.formContainer {
    width: 100%;
    max-width: 800px;
    display: grid;
    justify-items: center;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "input1"
        "input2"
        "textarea"
        "button";
    justify-content: center;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.inputWrap:nth-child(2) {
    grid-area: input2;
}

.inputWrap:nth-child(3) {
    grid-area: input3;
}

.inputs {
    outline: none;
    width: 100%;
    height: 45px;
    padding-left: 10px;
    border-radius: 5px;
    font-family: inherit;
    border: none;
    background-color: whitesmoke;
}

.textarea {
    outline: none;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 5px;
    border: none;
    font-family: inherit;
    height: 100%;
    background-color: whitesmoke;
}

.btn {
    grid-area: button;
    justify-self: start;
    width: 100%;
    border-radius: 5px;
    font-weight: 700;
    height: 45px !important;
}

.inputWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}

.textareaWrap {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    grid-area: textarea;
}

.error {
    position: absolute;
    font-size: 13px;
    font-weight: 500;
    color: var(--color-error);
    left: 16px;
    margin-top: 45px;
}

.inpError {
    border: 2px solid var(--color-error);
    outline: none;
}


@media(min-width:481px) {
    .formContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "input1 input2"
            "textarea textarea"
            "button button";
    }

    .btn {
        max-width: 200px;
    }
}