.wrapper {
    position: fixed;
    background-color: transparent;
    width: 100%;
    min-height: var(--navbar-height);
    z-index: 100;
    transition: box-shadow 0.2s ease;
}

.isScrolled {
    background-color: var(--color-blur);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container {
    max-width: 1600px;
    min-height: inherit;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-items: center;
    padding: 0 10px;
}

.logo {
    height: 100%;
    justify-self: start;
    display: flex;
    align-items: center;
}

.container>div:nth-child(3) {
    justify-self: end;
}

div .contacts {
    display: none;
}

@media (min-width: 961px) {
    .logo {
        justify-self: center;
    }

    .container>div:nth-child(3) {
        justify-self: center;
    }
}

@media (min-width: 769px) {
    .container {
        grid-template-columns: 180px 1fr 180px;
    }

    div .contacts {
        justify-self: center;
        display: flex;
        width: 100%;
        max-width: 700px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .contacts div {
        margin-bottom: 0;
    }

    .contacts span {
        display: block;
    }
}