.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    height: 922px;
}

@media (min-width: 480px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.slide {
    position: relative;
    cursor: pointer;
}

.img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: -4px;
    filter: brightness(50%);
    transition: filter 0.2s ease;
}

.img:hover {
    filter: unset;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.603);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.modal.active {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}

.modalImg {
    max-width: 80%;
    max-height: 80%;
    transition: transform 0.2s ease;
    transform: scale(0.8);
    opacity: 0;
}

.modal.active .modalImg {
    transform: scale(1);
    opacity: 1;
}