.AppLink {
    color: black;
    text-decoration: none;
    position: relative;
}

.AppLink::after {
    background: none repeat scroll 0 0 transparent;
    bottom: -2px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--color-black);
    transition: width .2s ease 0s, left .2s ease 0s;
    width: 0;
}

.AppLink:hover::after {
    width: 100%;
    left: 0;
}

.AppLink:hover {
    opacity: 1;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}